---
---

<script>
// Get API key from server side .ENV file --- thanks to vite
const APIKEY = import.meta.env.PUBLIC_WEATHER_API;

// API endpoint URL
const queryEndpoint = 'https://api.openweathermap.org/data/2.5/weather';
// City
const queryCity = 'Spokane';
// Units for Farenheit
const queryUnits = 'imperial';

// URL query string
const url = `${queryEndpoint}?q=${queryCity}&appid=${APIKEY}&units=${queryUnits}`;

// Get DOM Elements
const city = document.querySelector('h1');
const temp = document.getElementById('temp');
const icon = document.querySelector('img');

const weatherDesc=document.getElementById("desc");
const windSpeed=document.getElementById("wind");
const feelsLike=document.getElementById("feels");

// Using fetch to get data
fetch(url)
.then( response => response.json() )
.then( weatherData => {

  // Check-check: Is data good? 
  console.log( weatherData );
  city.textContent = weatherData.name;
  weatherDesc.textContent=weatherData.weather[0].description;
  temp.textContent = weatherData.main.temp+"°F"; ;
  feelsLike.textContent = weatherData.main.feels_like+"°F";
  windSpeed.textContent="Wind Speed: "+weatherData.wind.speed+" mph";
  icon.setAttribute("src", `https://openweathermap.org/img/wn/${weatherData.weather[0].icon}.png`);
  
});

navigator.geolocation.getCurrentPosition(function(position){
    const lat=position.coords.latitude;
    const long=position.coords.longitude;
  console.log(lat, long);
})
</script>


<!-- Weather -->
 <div class=" card glass">
<section class="weather card-body flex">
  <div class="weather flex flex-col">
    <h1 class="font-bold text-4xl text-gray-50 drop-shadow text-center">City</h1>
    <div class="pt-6 flex justify-center items-center">
    <img class="ring-blue-500 ring-offset-base-100 w-32 rounded-full ring ring-offset-2" src="" alt="weather">
    </div>
    <h3 class="p-3 italic font-semibold text-center" id="desc">desc</h3>
    <h3 id="temp" class="stat-figure text-blue-300 text-xl text-bold">Temp</h3>
    <h3 class="p-3" id="wind">wind</h3>
    Feels like: <h3 class="stat-figure text-blue-300" id="feels">Feels</h3>
      </div>
</section>
</div>